
.workers {
    margin-top: 300px;
    margin-left:1280px;
}
.button{
    margin-top: 10px;
    font-size: large;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 70px;
    border-radius: 12px;
    border-color: whitesmoke;
    border-style: solid;
}
.footer .top{
  background-color: rgb(241,241,241);
  padding-left: 600px;
  padding-right: 600px;
  padding-top: 30px;
  margin-top: 100px;
  height: 100px;
  width: 100%;
  bottom:50px;
}
.footer .bottom{
  text-align: center;
  padding-top: 15px;
  background-color:rgb(193,193,193);
  width: 100%;
  height: 50px;
  bottom: 0px;
}
.footer-index .top{

  background-color: rgb(241,241,241);
  padding-left: 600px;
  padding-right: 600px;
  padding-top: 30px;
  margin-top: 200px;
  height: 100px;
  width: 100%;
  bottom:50px;
}
.footer-index .bottom{
  text-align: center;
  padding-top: 15px;
  background-color:rgb(193, 193, 193);
  width: 100%;
  height: 50px;
  bottom: 0px;
}
a {
  color: black;
}
a:hover{
  color: black;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}